.root {
  --ballSize: calc(var(--size) / 16);

  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  border-radius: 50%;
  height: var(--ballSize);
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -100%) rotate(90deg);
  width: var(--ballSize);
}

.root::before {
  background: radial-gradient(circle at 50% 0, #fff, rgba(255, 255, 255, 0) 58%);
  border-radius: 50%;
  content: '';
  filter: blur(5px);
  height: 90%;
  left: 5%;
  position: absolute;
  top: 1%;
  width: 90%;
  z-index: 2;
}

.shadow {
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  height: 100%;
  position: absolute;
  transform: rotateX(90deg) translateZ(-150px);
  width: 100%;
  z-index: -1;
}
